#contenedorPpal{
    display: flex;
    flex-direction: column;
    background-color: red;
}


#cajaEstudiante{
color: aquamarine;
}


#containerForm{
    display: flex;
    flex-direction: column;
    background-color: aquamarine;
    justify-content: center;
}